body
{
	background:gray;
	color:#f2f2f2;
}

.table-responsive
{
	margin-top:30px;
	font-size:18px;
	border:none;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border-top:none;}

table th,
table td
{
	text-align: center;
}

table th
{
	font-weight: normal;
	color:#fff;
	opacity: .35;
}

table td
{
	font-weight: bold;
}

#today
{
	text-align: center;
}

#icon
{
	padding-top:20px;
}

.location
{
	display: block;
	padding:30px;
	color:#fff;
	opacity: 0.35;
}

.temp
{
	display: block;
	font-weight: bold;
	padding:30px;
	font-size:50px;
}

.freezing
{
	background:#8e44ad;
}

.cold
{
	background:#8e44ad;
}

.mild
{
	background:#16a085;
}

.warm
{
	background:#e67e22;
}






