body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#allQuestions li, 
#allQuestionsModerate li
{
	margin-bottom:10px;
}


#allQuestions h2,
#allQuestionsModerate h2
{
	font-size:16px;
}

#allQuestions blockquote,
#allQuestionsModerate blockquote
{
	color:#666;
}

.voteUp,
.voteDown
{
	padding:0 4px;
}

.customLabel
{
	color:#ccc;
}