.circle
{
	position:absolute;
	width:50px;
	height:50px;
}

#cirkel1
{
	background:#8C893A;
}

#cirkel2
{
	background:#BDC062;
}

#cirkel3
{
	background:#C6DAA1;
}


.moveBall1
{
	-webkit-animation: move1 1s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes move1
{
100% {-webkit-transform:translateX(100px);}	
}

.moveBall2
{
	-webkit-animation: move2 1s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes move2
{
100% {-webkit-transform:translate(100px, 100px);}
}

.moveBall3
{
	-webkit-animation: move3 1s;
	-webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes move3
{
100% {-webkit-transform:translateY(100px);}
}


