extends layout

block nav
  nav
   ul
    li
     a(href='/') Home
    li
     a(href='/ask') Ask
    li
     a(href='/questions') Questions
    li
     a(href='/moderate') Moderate

block content
  h1 Ask a question

  div
   form(action='', method='post')
     label(for='name') Name
     input(type='text', id='name', name='name')
     label(for='question') Question
     textarea(id='question' name='question')
     input(type='submit', value='Shoot!', id='btnShoot')

  