extends layout

block content

  nav(class='navbar navbar-inverse navbar-fixed-top' role='navigation')
    div(class='container')
      div(class='navbar-header')
        button(type='button', class='navbar-toggle', data-toggle='collapse', data-target='navbar-collapse')
          span(class="sr-only") Toggle navigation
          span(class="icon-bar")
          span(class="icon-bar")
          span(class="icon-bar")
        a(class="navbar-brand", href="/") IMDWall

      div(class='navbar-collapse collapse')
        ul(class='nav navbar-nav')
          li
            a(href='/') Home
          li
            a(href='/ask') Ask
          li
            a(href='/questions') Questions
          li
            a(href='/moderate') Moderate

  div(class='jumbotron')
    div(class='container')
      h2 Ask a question
  
  div(id='feedback-success', class='row')
    div(class='col-md-12')
      div(class='alert alert-success')
        p <span class='glyphicon glyphicon-thumbs-up'></span> Thanks, your question was successfully added!

  div(id='feedback-error', class='row')
    div(class='col-md-12')
      div(class='alert alert-danger')
        p <span class='glyphicon glyphicon-thumbs-down'></span> Something went wrong, please fill in all the fields.
        ul
          li Your name must be atleast 2 characters.
          li Your question must be min 10 and max 140 characters.


  div(class='row')
    div(class='col-md-12')
      form(action='', method='post', role='form', class='form-horizontal')

        div(class='form-group')
          label(for='name' class='col-sm-2 control-label') Name
          div(class='col-sm-10')
            input(type='text', id='name', name='name' class='form-control')

        div(class='form-group')
          label(for='question' class='col-sm-2 control-label') Question
          div(class='col-sm-10')
            textarea(id='question' name='question' class='form-control')

        div(class='form-group')
          div(class='col-sm-offset-2 col-sm-10')      
            input(type='submit', value='Shoot!', id='btnShoot' class='btn btn-default')

  