extends layout

block nav
  nav
   ul
    li
     a(href='/') Home
    li
     a(href='/ask') Ask
    li
     a(href='/questions') Questions
    li
     a(href='/moderate') Moderate

block content
  h1 Moderate questions
  