extends layout

block content
 div(class="row")
  div(class="col-md-12")
   h1(class="wallTitle") &raquo; Welcome to the IMD Wall
   h2(class="callTo") Ask a question
 div(class="row")
  div(class="col-md-12")
   form
    input(type="text")
    input(type="button" value="Share!")